name: Deploy Project

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # リポジトリのコードをチェックアウト
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # 必要なパッケージをインストール（html-minifier-terser、clean-css-cliなど）
      - name: Install dependencies
        run: |
          npm install html-minifier-terser jq

      # 変更された HTML ファイルのみを検出
      - name: Get changed HTML files
        id: changed_files
        run: |
          # 全ての HTML ファイルを対象にする
          files=$(git ls-files '*.html')

          # 改行をスペースに変換して出力
          files=$(echo "$files" | tr '\n' ' ' | sed 's/^ *//;s/ *$//')

          echo "Detected HTML files: '$files'"
          echo "files=$files" >> $GITHUB_OUTPUT

      # 全ての HTML ファイルを圧縮
      - name: Minify changed HTML files
        run: |
          mkdir -p ./publish
          for file in ${{ steps.changed_files.outputs.files }}; do
            if [ -f "$file" ]; then
              echo "Minifying: $file"
              npx html-minifier-terser "$file" --output "./publish/$(basename "$file")" --collapse-whitespace --remove-comments --minify-css --minify-js
            else
              echo "Skip (not found): $file"
            fi
          done

      # 変更された画像ファイルのみを検出
      - name: Get changed image files
        id: changed_images
        run: |
          # 全ての画像ファイルを対象にする
          files=$(git ls-files 'image/*')

          # 改行をスペースに変換して出力
          files=$(echo "$files" | tr '\n' ' ' | sed 's/^ *//;s/ *$//')

          echo "Detected image files: '$files'"
          echo "files=$files" >> $GITHUB_OUTPUT

      # 全ての画像ファイルをコピー
      - name: Copy changed image files
        run: |
          mkdir -p ./publish/image
          for file in ${{ steps.changed_images.outputs.files }}; do
            if [ -f "$file" ]; then
              echo "Copying: $file"
              cp "$file" "./publish/image/$(basename "$file")"
            else
              echo "Skip (not found): $file"
            fi
          done

      # `publish`ブランチにデプロイ
      - name: Deploy to publish branch
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git checkout -b publish
          git add ./publish
          git commit -m "Deploy to publish branch"
          git pull origin publish --allow-unrelated-histories --rebase --autostash
          git push origin `git subtree split --prefix publish publish`:publish --force
